@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
*{
  font-family: Source Serif Pro;
}

:root {
  background-color: white;
}

.App {
  max-width: 100%;
  overflow-x: hidden;
}

.home {
  background-color: black;
}
.madeBy {
  color: white;
  position: relative;
  font-family: Inconsolata;
  left:360px;
  top: 15px;
}

.navbar {
  position: absolute;
  top: 0;
  width: 700px;
  right: 0;
  left: 800px;
}

.intro {
  display: inline-block;
  border: none;
  padding-top: 1rem;
  padding-right: 1.2rem;
  vertical-align: middle;
}

.Graham {
  color: white;
  font-family: Archivo Black;
  font-size: 50px;
  position: relative;
  top: 100px;
  left: 400px;
}

.ityped {
  font-family: Archivo Black;
  font-size: 50px;
  position: relative;
  top: 100px;
  left: 397px;

  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.rocket {
  width: 100%;
}

.black { 
  background-color: black;
  height: 120px;
  width: 100%;
}

.gradient {
  background-image: linear-gradient(black, white);
  height: 100px;
  width: 100%;
}

.quote {
  font-family: Archivo Black;
  font-size: 40px;
  position: relative;
  padding-left: 100px;
  bottom: 20px;

  color: white;
}

.icon {
  width: 30px;
  padding-right: 10px;
}

.text {
  background-color: white;
  color: black;
  position: relative;
  bottom: 20px;
  height: 1500px;
}

.text1 {
  width: 62%;
  padding-left: 22%;
  padding-top: 100px;
  font-size: 20px;
}

.text2 {
  padding-left: 25%;
  padding-bottom: 100px;
}

.list-container {
  position: relative;
  left: 200px;
  top: 100px;
}
.list {
  padding-left: 10%;
  font-size: 20px;
}

.icons {
  position: relative;
  left: 38px;
  bottom: 30px;
}

.list-descriptions {
  position: relative;
  bottom: 53px;
  font-size: 20px;
}
.list-child {
  float: left;
}

.listyle1 {
  font-family: Archivo Black;
  font-size: 40px;
  text-align: right;

  padding-bottom: 42px;
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}


.listyle2 {
  padding-bottom: 10px;
}

.pilot {
  position: relative;
  left: 25%;
  bottom: 0px;
  height: 400px;
  width: auto;
}
.bottom {
  background-color: white;
  height: 650px;
  width: 100%;
  position: relative;
  bottom: 20px;
}
.carousel {
  position: relative;
  top: 150px;
}
.carousel-container {
  background-color: white;
}


.contact {
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}
.contactText {
  position: absolute;
  color: black;
  padding-left: 450px;
  padding-top: 100px;
}

.email {
  position: absolute;
  color: black;
  left: 650px;
  top: 80px;
}
.phone {
  position: absolute;
  color: black;
  left: 650px;
  top: 130px;
}

.adblock {
  position: relative;
  top: 200px;
}
.adTitle {
  position: absolute;
  padding-top: 170px;
  padding-left: 90px;
  color: black;
}
.ad {
  width: 500px;
  height: auto;
    position: relative;
  top: 200px;
}









.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

